body{
background-color: #AC9C80;
text-color: #000033;
font-style: "Times New Roman", Times,serif;
font-size: 12pt;
}
.logo{
text-align: left;
width: 223px;
height: 108px;
}
.heading{
font-style: "Times New Roman", Times,serif;
font-size: 36px;
text-color: #132555;
font-weight: bold;
}
.level{
font-style: "Times New Roman", Times,serif;
font-size: 18px;
text-color: #132555;
font-weight: bold;
}
